<div class="jumbotron">
  <h1>Yggdrasil quiz</h1>
  <p class="lead">
    &gt; By Accenture user experience.
  </p>
</div>

<form name="quizForm" novalidate class="well">

  <div ng-repeat="(index, question) in questions">
      <h4>{{ index + 1 }}. {{question.question}}</h4>
      <label class="question" ng-repeat="alternative in question.alternatives">
        <input type="radio" ng-model="question.alternative" value="{{ alternative }}">
        {{ alternative.text }}
      </label>
  </div>

  <p><a class="btn btn-success" ng-disabled="!formCompleted()" ng-click="submit()">Submit!</a></p>

</form>
